/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '@angular/material/prebuilt-themes/purple-green.css';
/* @import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '@angular/material/prebuilt-themes/pink-bluegrey.css';
@import '@angular/material/prebuilt-themes/purple-green.css'; */

html, body { height: 100%; }
body { margin: 0; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, "Helvetica Neue", sans-serif; }

.col-sm-2 {
    margin-left: 2%;
    background-color: rgb(241, 241, 247);
    text-align: right;
    font-weight: lighter
  }
  
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    background: #6e6e8f;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 25px;
    background: rgb(95, 95, 99);
    cursor: pointer;
  }